
<!DOCTYPE html>
{% extends 'miapp_CODEMC/herencias/header_footer.html' %}
{% load static %}
<html lang="es">
{% block head %}
    <title>CODE MC</title>
    <link rel="stylesheet" name="text" href="{% static 'miapp_CODEMC/css-vistas/style-contacto.css'%}">
{% endblock %}
{% block content %}
<body>
        <div class="head">
            <H1>CONTACTO</H1>
            <p>Si tenés alguna duda sobre la página o querés consultar, <br><span id="p-span">¡no dudes en buscarnos!</span></p>
        
        </div>
        <div class="contactos">
            <div class="caja">
                <h2>DIRECCIÓN</h2>
                <p>IPET N°57 Comod. Mart. Rivad. 4455 <br>Esquina 25 de Mayo, Roma.</p>
            </div>
            <div class="caja">
                <h2>CORREO</h2>
                <p>code_mc@gmail.com</p>
            </div>
            <div class="caja">
                <h2>TELÉFONO</h2>
                <p>+54 351 987-654</p>
            </div>
        </div>
        
        <div class="contact-form">
            <h2>ENVIAR MENSAJE</h2>
            <form>
                <div class="inpetBox">
                    <input type="text" name="" required="required">
                    <span>Nombre Completo</span>
                </div>
                <div class="inpetBox">
                    <input type="text" name="text" required="required">
                    <span>Email</span>
                </div>
                <div class="inpetBox">
                    <textarea readonly="required"></textarea>
                    <span>Escriba su Mensaje...</span>
                </div>
                <div class="inpetBox">
                    <input type="submit" name="" value="ENVIAR">
                </div>
            </form>
        </div>
    
</body>
{% endblock %}
</html>
