{% extends 'miapp_CODEMC/inheritances/barra lateral.html' %}
{% load static %}
{% block content1 %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crear</title>
    <link rel="stylesheet" href="{% static 'miapp_CODEMC/css-herencias/style-barra.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}
{% block content %}
<body>
    <h1>Crear Nueva Categoría</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
    <a href="{% url 'home' %}">Volver a la lista de categorías</a>
</body>
</html>
{% endblock %}
