<!DOCTYPE html>
{% extends 'miapp_CODEMC/header_footer.html'%}
{% load static %}
<html lang="es">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CODE MC - Inicio</title>
    <!-- Aca enlazamos archivos/páginas relacionad@s al desarrollo.-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    <link rel="stylesheet" href="{% static 'miapp_CODEMC/style-pagina.css' %}">
</head>
{% endblock %}
<body>
    <!-- Establecemos un header relacionado con la clase "header-principal" para estilizar
    el encabezado de la pagina. -->
    
    {% block content %}
    <!-- Insertamos banner y lo estilizamos en css -->
     <div class="banner">
        <div class="capa">

        </div>
     </div>
    <!-- Sección introductoria-->
    <section>
        <h2>Texto de prueba siseñor </h2>
    </section>
    {% endblock %}

</body>

</html>
