<!DOCTYPE HTML>
{% extends 'miapp_CODEMC/herencias/header_footer.html'%}
{% load static %}
<html lang='es'>
    {% block head %}
        <title>Planes</title>
        <link rel="stylesheet" href="{% static 'miapp_CODEMC/css-vistas/style-planes.css'%}">
    {% endblock %}
    <body>
        {% block content %}
        <div class="head">
            <h1>PLANES</h1>
            <p>¡Te presentamos nuestros distintos planes de servicio!</p>
        </div>
        <div class="contenedor">
            <div class="caja">
                <div>
                    <h2>BÁSICO</h2>
                    <p>$9.99/mes</p>
                </div>
                <ul>
                    <li>Característica 1</li>
                    <li>Característica 2</li>
                    <li>Característica 3</li>
                </ul>
                <a href="#" class="btn">COMPRAR AHORA</a>
            </div>
            <div class="caja">
                <div>
                    <h2>ESTÁNDAR</h2>
                    <p>$19.99/mes</p>
                </div>
                <ul>
                    <li>Característica 1</li>
                    <li>Característica 2</li>
                    <li>Característica 3</li>
                    <li>Característica 4</li>
                    <li>Característica 5</li>
                </ul>
                <a href="#" class="btn">COMPRAR AHORA</a>
            </div>
            <div class="caja">
                <div>
                    <h2>PREMIUM</h2>
                    <p>$29.99/mes</p>
                </div>
                <ul>
                    <li>Característica 1</li>
                    <li>Característica 2</li>
                    <li>Característica 3</li>
                    <li>Característica 4</li>
                    <li>Característica 5</li>
                    <li>Característica 6</li>
                    <li>Característica 7</li>
                </ul>
                <a href="#" class="btn">COMPRAR AHORA</a>
            </div>

        </div>
        {% endblock %}
    </body>
</html>