<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title>Acerca de Nosotros - CODE MC</title><header>
    <h1>Acerca de Nosotros</h1>
</header>
<section class="introduction">
    <p>Bienvenidos a CODE MC, su destino de confianza para moda y estilo.</p>
</section>
<section class="history">
    <h2>Nuestra Historia</h2>
    <p>Nuestra aventura comenzó en 2024, cuando [Fundador/a] decidió lanzar CODE MC con la visión de proporcionar ropa elegante y asequible para todas las ocasiones. Desde nuestros humildes comienzos en Cordoba, hemos crecido para convertirnos en líderes en la industria de la moda.</p>
</section>
<section class="mission-vision">
    <h2>Nuestra Misión y Visión</h2>
    <p>Nuestra misión es proporcionar ropa elegante y asequible para todas las ocasiones. Nos esforzamos por ser líderes en la industria de la moda, siempre innovando y atendiendo a las necesidades de nuestros clientes.</p>
</section>
<section class="values">
    <h2>Valores</h2>
    <p>En CODE MC, valoramos la calidad, la integridad y la satisfacción del cliente por encima de todo. Nos comprometemos a practicar la sostenibilidad y la responsabilidad social en todas nuestras operaciones.</p>
</section>
<section class="team">
    <h2>Equipo</h2>
    <p>Nuestro equipo está compuesto por apasionados profesionales de la moda, incluyendo diseñadores, compradores y estilistas.</p>
</section>
<section class="products-services">
    <h2>Productos y Servicios</h2>
    <p>Ofrecemos una amplia gama de ropa, desde casual hasta formal, y accesorios que complementan cada look. Nuestros servicios incluyen estilismo personalizado, entregas rápidas y devoluciones fáciles.</p>
</section>
<section class="testimonials">
    <h2>Testimonios y Logros</h2>
    <p>Lo que dicen nuestros clientes: "Me encanta la calidad y el servicio de CODE MC" - Hernesto.</p>
    <p>Nos sentimos honrados de haber sido reconocidos como [Premio o Logro] en [Año].</p>
</section>
<footer>
    <h2>Contacto</h2>
    <p>Gracias por visitarnos. Únase a nuestra comunidad y siga nuestro viaje en Instagram: codemc01.</p>
    <p>Si tiene alguna pregunta o comentario, no dude en contactarnos en code.mc01@gmail.com- .</p>
</footer>
</body>
</html>
