<!DOCTYPE html>
<html lang="es">
    <!-- Carga el sistema de plantillas de Django para usar etiquetas estáticas -->
    {% load static %}

<head>
    <!-- Define la codificación de caracteres utilizada en el documento -->
    <meta charset="UTF-8">
    <!-- Asegura que el diseño sea responsivo en dispositivos móviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Importa la fuente 'Barlow' desde Google Fonts para usar en el diseño -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Importa los iconos de FontAwesome para usar en el diseño -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- Enlaza con el archivo de estilos CSS para la página de registro -->
    <link rel="stylesheet" href="{% static 'miapp_CODEMC/css-vistas/style-register.css' %}">
    <!-- Define el título de la página que se muestra en la pestaña del navegador -->
    <title>Registro</title>
</head>

<body>
    <!-- Contenedor principal para centrar el contenido en la página -->
    <div class="contenedor">
        <!-- Caja del formulario de registro -->
        <div class="form-box-register">
            <!-- Formulario para el registro de usuario -->
            <form method="post">
                <!-- Token CSRF para protección contra ataques CSRF en Django -->
                {% csrf_token %}

                <!-- Botón para cerrar el formulario o redirigir a la página principal -->
                <span class="cerrar-ventana" onclick="rederigir_principal()">
                    <i class="fa-solid fa-rectangle-xmark"></i>
                </span>

                <h1>Registro</h1>
 
                <!-- Campo para ingresar el correo electrónico -->
                <div class="input-field">
                    <e class="fa-solid fa-envelope"></e>
                    <c class="fa-solid fa-lock"></c>    
                    <ic class="fa-solid fa-lock"></ic>
                    <ii class="fa-solid fa-check"></ii>
                    <!-- Campo de entrada para el correo electrónico del formulario -->
                    {{ form.as_table }}

                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                </div>

                <!-- Sección para los términos y condiciones -->
                <div class="forget">
                    <!-- Etiqueta que contiene el checkbox y el texto de aceptación -->
                    <label for="remember">
                        <!-- Checkbox para aceptar los términos y condiciones -->
                        <input type="checkbox" id="remember">
                        <p><a href="#">Acepto los términos y condiciones</a></p>
                    </label>
                </div>

                <!-- Botón para enviar el formulario de registro -->
                <button type="submit">Registrarse</button>

                <!-- Sección para el enlace a la página de inicio de sesión -->
                <div class="login">
                    <!-- Texto y enlace para iniciar sesión si ya se tiene una cuenta -->
                    <p>¿Ya tienes una cuenta? <a href='{% url "login" %}' class="login-link">¡Inicia sesión!</a></p>
                </div>
            </form>
        </div>
    </div>

    <!-- Enlaza con el archivo de JavaScript para funcionalidades adicionales -->
    <script src="{% static 'miapp_CODEMC/js/java_scr_login.js' %}"></script>
    <script>
        // Función para redirigir al usuario a la página principal
        function rederigir_principal() {
            window.location.href = "/";
        }
    </script>
</body>
</html>
