{% extends "miapp_CODEMC/inheritances/barra lateral.html" %}
{% load static %}

{% block head %}
    <title>Agregar venta</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="">
{% endblock %}

{% block content %}
    <h1>AGREGAR REMITO</h1>   
    <form method="post" id="remitoForm" action='{% url "agregar-venta" %}'>
        {% csrf_token %}
        {{ remito_form.as_p}}
        <button type='submit'>Registrar remito</button>
        <button type='button'>Cancelar remito</button>
    </form>
    
    <h2>Agrega detalles</h2>
    <form method="post" id="detalleForm" action='{% url "agregar_detalle" %}'>
        {% csrf_token %}
        {{ detalle_form.as_p}}
        <button type='button' id='agregarDetalleBtn'>Agregar detalle</button>
    </form>

    <h3> Ítems agregados: </h3>
    <ul id='detallesList'> 
        {% for detalle in detalles %}
            <li> {{ detalle.producto_id }} {{ detalle.producto_nombre }} {{ detalle.producto_tamaño }} {{ detalle.producto_uM }}, {{ detalle.producto_precio }}
                - Cantidad {{ detalle.cantidad }} - Importe: {{ detalle.importe }}</li>
        {% endfor %}
    </ul>
    
    
    <script src="{% static 'miapp_CODEMC/js/agregar-detalles.js'%}"></script>
{% endblock %}