{% extends "miapp_CODEMC/inheritances/barra lateral.html" %}
{% load static %}

{% block head %}
    {% block title %}Crear venta{% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="">
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block content %}
    <h1>AGREGAR REMITO DE VENTA</h1>   
    <form method="post" id="remitoForm" action='{% url "agregar-venta" %}'>
        {% csrf_token %}
        {{ remito_form.as_p}}
        <button type='submit'>Registrar remito</button>

    </form>

    <form method='post' id="cancelar_proceso_remito" action='{% url "cancelar_venta" %}?from=agregar-venta'>
        {% csrf_token %}
        <button type='submit'>Cancelar remito</button>
    </form>

    <h2>Agrega detalles</h2>
    <form method="post" id="detalleForm" action='{% url "agregar_detalle_venta" %}'>
        {% csrf_token %}
        {{ detalle_form.as_p}}
        <button type='button' id='agregarDetalleBtn'>Agregar detalle</button>
    </form>

    <h3> Ítems agregados: </h3>
    <ul id='detallesList'> 
        {% for detalle in detalles %}
            <li> {{ detalle.producto_cod }} {{ detalle.producto_nombre }} {{ detalle.producto_tamaño }} {{ detalle.producto_uM }}, ${{ detalle.producto_precio }}
                - Cantidad {{ detalle.cantidad }} - Importe: {{ detalle.importe }}
                <button onclick="eliminarDetalle(this, '{{ detalle.producto_cod }}')"> ELIMINAR </button>
            </li>
        
        {% endfor %}
    </ul>
    
    
    <script src="{% static 'miapp_CODEMC/js/agregar-detalles.js'%}">
    </script>
{% endblock %}