{% extends 'miapp_CODEMC/inheritances/barra lateral.html' %}
{% load static %}

{% block head %}
    {% block title %}Crear categoría y subcat.{% endblock %}
    <link rel="stylesheet" href="{% static 'miapp_CODEMC/css-vistas/style-crear-categorias.css' %}">
{% endblock %}

{% block content %}

    <main class="container">
        <div class="row">
            <div class="col-md-5 offset-md-4   ">
                <form method="post" class="card card-body text-center mb-3 mx-3">
                    {% csrf_token %}
                    <h2>Crear nueva categoría</h2>
                    {{ categoria_form.as_p }}
                    <button type="submit" name="crear_categoria">Guardar Categoría</button>
                </form>
                <form method="post" class="card card-body text-center mx-3">
                    {% csrf_token %}
                    <h2>Crear nueva subcategoría</h2>
                    {{ subcategoria_form.as_p }}
                    <button type="submit" name="crear_subcategoria">Crear Subcategoría</button>
                </form>
            </div>
        </div>
    </main>

    <a href='{% url "categorias" %}'>Volver a la lista de categorías</a>
{% endblock %}
