{% extends 'miapp_CODEMC/inheritances/barra lateral.html' %}
{% load static %}

{% block head %}
    {% block title %}Sucursales{% endblock %}
    <link rel="stylesheet" href="{% static 'miapp_CODEMC/css-herencias/style-table.css' %}">
{% endblock %}

{% block content %}

    <!-- Formulario para crear una nueva sucursal -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>

    <h1 class="titulo">Sucursales Registradas</h1>

    <!-- Contenedor para la tabla -->
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Provincia</th>
                    <th>Ciudad</th>
                    <th>Calle</th>
                    <th>Número de Calle</th>
                    <th>Almacén</th>
                    <th>Empresa</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for sucursal in sucursales %}
                    <tr>
                        <td>{{ sucursal.nombre }}</td>
                        <td>{{ sucursal.telefono }}</td>
                        <td>{{ sucursal.provincia }}</td>
                        <td>{{ sucursal.ciudad }}</td>
                        <td>{{ sucursal.calle }}</td>
                        <td>{{ sucursal.nro_calle }}</td>
                        <td>Almacén #{{ sucursal.almacen.nombre }}</td>
                        <td>{{ sucursal.empresa }}</td>
                        <td>
                            <form action="{% url 'eliminar_sucursal' sucursal.id_sucursal %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar esta sucursal?');">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="9" class="mensaje-vacio">No hay sucursales añadidas.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{% url 'home' %}" class="enlace-categorias">Volver a la lista de categorías</a>

{% endblock %}
