<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorías, Subcategorías y Productos</title>
    <link rel="stylesheet" href="{% static 'miapp_CODEMC/css-vistas/style-categorias.css' %}">
</head>
<body>
    <h1>Categorías y Subcategorías</h1>
    <div class="category-container">
        {% for categoria in categorias %}
            <div class="category-card">
                <div class="category-title">{{ categoria.nombre }}</div>
                <div class="subcategory-list">
                    {% for subcategoria in categoria.subcategoria_set.all %}
                        <form action="{% url 'categorias' %}" method="GET">
                            <input type="hidden" name="subcategoria_id" value="{{ subcategoria.id }}">
                            <button type="submit" class="subcategory-item">{{ subcategoria.nombre }}</button>
                        </form>
                    {% empty %}
                        <p>No hay subcategorías disponibles.</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="productos-container">
        {% if subcategoria_seleccionada %}
            <h2>Productos de la Subcategoría: {{ subcategoria_seleccionada.nombre }}</h2>
            {% if productos %}
                <table>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Tamaño</th>
                    </tr>
                    {% for producto in productos %}
                        <tr>
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.descripcion }}</td>
                            <td>{{ producto.precio }}</td>
                            <td>{{ producto.tamaño }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>No hay productos disponibles para esta subcategoría.</p>
            {% endif %}
        {% endif %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'miapp_CODEMC/js/categorias.js'%}"></script>
</body>
</html>
