{% extends 'miapp_CODEMC/inheritances/barra lateral.html' %}
{%load static%}
{% block head %}
    <title>Empleados</title>
    <link rel="stylesheet" href="{% static 'miapp_CODEMC/css-herencias/style-table.css' %}">
{% endblock %}

{% block content %}
    <h1 class="titulo">Empleados</h1>
    <a href='{% url "crear-empleado" %}'>Registrar empleado</a>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Usuario</th>
                    <th>Documento de identificación</th>
                    <th>Telefono</th>
                    <th>acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for empleado in empleados %}
                <tr>
                    <td> {{ empleado.user.first_name }} </td>
                    <td> {{ empleado.user.last_name }} </td>
                    <td> {{ empleado.user.username }} </td>
                    <td> {{ empleado.user.dni }} </td>
                    <td> {{ empleado.user.telefono }} </td>
                    <td>
                        <form action="{% url 'eliminar_empleado' empleado.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este empleado?');">Eliminar</button>
                        </form>

                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5"> Tu empresa aún no tiene empleados. ¡Comienza a agregar! </td>
                </tr>
                {% endfor %}
            </tbody>
        <table>

    </div>
{% endblock %}
