{% extends 'miapp_CODEMC/inheritances/barra lateral.html' %}
{%load static%}
{% block content1 %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
    <link rel="stylesheet" href="{% static 'miapp_CODEMC/css-herencias/style-barra.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}
{% block content %}
<title>inicio gestion</title>
<div class="text">
    <h1>Contenido Personalizado</h1>
    <p>Este es el contenido que se reemplaza en la sección home.</p>
</div>
{% endblock %}
