{% extends 'miapp_CODEMC/inheritances/barra lateral.html' %}
{% load static %}

{% block head %}
    <title>Lista de productos</title>
    <link rel="stylesheet" href="{% static 'miapp_CODEMC/css-herencias/style-table.css' %}">
{% endblock %}

{% block content %}
    <h1 class="titulo">Lista de Productos</h1>

    <!-- Formulario de filtros -->
    <form method="GET" action="{% url 'productos' %}">
        {{ form.as_p }}
        <button type="submit">Filtrar</button>
    </form>
    
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Categoría</th>
                <th>Subcategoría</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.categoria.nombre }}</td>
                    <td>{{ producto.subcategoria.nombre }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
