{% extends 'miapp_CODEMC/inheritances/barra lateral.html' %}
{% load static %}
{% block head %}
    <title>Productos</title>
{% endblock %}
<body>
{% block content %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <h2>Agregue un producto:</h2>

        {{ producto_form.as_p }}
        {{ stock_form.as_p }}

        <button type="submit">Registrar</button>
    </form>
    <a href="{% url 'productos' %}">Ver lista de Productos</a>
{% endblock %}
</body>