{% extends 'miapp_CODEMC/inheritances/barra lateral.html' %}
{%load static%}
{% block head %}
{% block title %}Crear proveedor{% endblock %}
    <link rel="stylesheet" href="{% static 'miapp_CODEMC/css-herencias/style-table.css' %}">
{% endblock %}

{% block content %}
    <h1 class="titulo">Proveedores</h1>
    <a href='{% url "agregar-proveedor" %}'>Registrar proveedor</a>
    {% if messages %}
        {% for message in messages %}
            {% if proveedor in message.messagge %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>CUIT</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>País</th>
                    <th>Provincia</th>
                    <th>Ciudad</th>
                    <th>Calle</th>
                    <th>Número de calle</th>
                    <th>Descripción</th>
                    <th>Web</th>
                    <th>Observaciones</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for proveedor in proveedores %}
                <tr>
                    <td> {{ proveedor.cuit }} </td>
                    <td> {{ proveedor.nombre }} </td>
                    <td> {{ proveedor.telefono }} </td>
                    <td> {{ proveedor.email }} </td>
                    <td> {{ proveedor.pais }} </td>
                    <td> {{ proveedor.provincia }} </td>
                    <td> {{ proveedor.ciudad }} </td>
                    <td> {{ proveedor.calle }} </td>
                    <td> {{ proveedor.nro_calle }} </td>
                    <td> {{ proveedor.descripcion }} </td>
                    <td> {{ proveedor.web }} </td>
                    <td> {{ proveedor.comentarios }} </td>
                    <td>
                        <form action="{% url 'eliminar_proveedor' proveedor.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este proveedor?');">Eliminar</button>
                        </form>

                    </td>

                </tr>
                {% empty %}
                <tr>
                    <td colspan="5"> Tu empresa aún no tiene proveedores. ¡Comienza a agregar! </td>
                </tr>
                {% endfor %}
            </tbody>
        <table>

    </div>
{% endblock %}
