{% extends 'miapp_CODEMC/inheritances/barra lateral.html' %}
{%load static%}
{% block head %}
  {% block title %}Ventas{% endblock %}
    
    <link rel="stylesheet" href="{% static 'miapp_CODEMC/css-herencias/style-table.css' %}">
    
{% endblock %}
{% block content %}

    <a href='{% url "agregar-venta" %}'> Registrar un nuevo remito </a>
    

        <div class="table-responsive ">
          <table class="table align-middle table-dark table-striped">
            <thead>
              <tr>
                <th>Orden</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>IVA</th>
                <th>Forma de pago</th>
                <th>Descripción</th>
                <th>Personal a cargo</th>
                <th>Ubicación</th>
                <th>Detalles</th>
              </tr>
            </thead>
            <tbody>
              {% for remito in remitos %}
                    <tr>
                        <td> {{ remito.orden }} </td>
                        <td> {{ remito.fecha }} </td>
                        <td> {{ remito.cliente }} </td>
                        <td> {{ remito.iva }} </td>
                        <td> {{ remito.forma_pago }} </td>
                        <td> {{ remito.descripcion }} </td>
                        <td> {{ remito.usuario_a_cargo.dni }} </td>
                        <td> {{ remito.ubicacion }} </td>
                        <td> 
                            <button class="btn btn-info btn-detalle" 
                            data-id="{{ remito.id_remito }}" data-orden="{{ remito.orden}}" data-fecha="{{ remito.fecha}}">
                            Ver Detalles</button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="9"> Tu empresa aún no tiene ventas. ¡Comienza a agregar! </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
          
          <!-- Modal -->
          <div class="modal fade" id="detalle-modal" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="detalleModalLabel">Detalles del remito {{ remito.id_remito }}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="detalle-contenido">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        
        <script src="{% static 'miapp_CODEMC/js/ver-detalles-venta.js'%}"></script>    
{% endblock %}