<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title>Acerca de Nosotros - CODE MC</title><header>
    <h1>Acerca de Nosotros</h1>
</header>
<section class="introduction">
    <p>Bienvenidos a CODE MC, su destino de confianza para moda y estilo.</p>
</section>
<section class="history">
    <h2>Nuestra Historia</h2>
    <p>Somos un grupo de estudiantes de secundaria que desarrollo este proyecto como parte de un proyecto escolar, impulsados por nuestro interes en el mundo de las inversiones y los mercados financieros. Nos llamo la atencion entender como funcionan las plataformas de stock y su importancia en la toma de decisiones.
        
        Desde entonces, hemos trabajado para crear esta pagina como un recurso accesible y facil de usar, donde cualquier persona puede encontrar informacion para entender mejor este ambito. Lo que empezo como un proyecto academico ahora refleja nuestro compromiso de hacer que el musno de las inversiones sea mas accesible para todos.
    </p>
</section>
<section class="mission">
    <h2>Nuestra Misión</h2>
    <p>Facilitar a las empresas el control de su inventario a traves de un sistema de gestion intuitivo, preciso y accesible, que permita minimizar perdidas, optimizar tiempos y tomas decisiones estrategicas basadas en datos en tiempo real.</p>
</section>
<section class="values">
    <h2>Valores</h2>
    <p>Eficiencia:Priorizar soluciones rapidas y optimizadas que mejoren la productividad en la gestion de stock.
        Innovacion:Nos comprometemos a ofrecer mejoras continuas y herramientas tecnologicas avanzadas que simplifiquen la experiencia del usuario.
        Adaptabilidad:Nos enfocamos en ofrecer un sistema flexible que pueda ajustarse a las necesidades particulares de cada cliente.
        Simplicidad:Creemos en un diseño intuitivo que permita a nuestros usuarios gestionar su inventario sin complicaciones innecesarias.
    </p>
</section>
<section class="vision">
    <h2>Nuestra vision</h2>
    <p>Ser la plataforma lider en la gestion eficiente de inventarios para empresas de todos los tamaños, proporcionando soluciones innovadoras que optimicen el control y el flujo de stock, permitiendo a los negocios crecer de manera organizada y sostenible.</p>
</section>
<section class="team">
    <h2>Equipo</h2>
    <p>Nuestro equipo está compuesto por apasionados estudiantes de programacion que combinamos nuestras habilidades para hacer realidad este proyecto:
        
    </p>
</section>
<section class="products-services">
    <h2>Productos y Servicios</h2>
    <p>Ofrecemos una amplia gama de ropa, desde casual hasta formal, y accesorios que complementan cada look. Nuestros servicios incluyen estilismo personalizado, entregas rápidas y devoluciones fáciles.</p>
</section>
<footer>
    <h2>Contacto</h2>
    <p>Gracias por visitarnos. Únase a nuestra comunidad y siga nuestro viaje en Instagram: codemc01.</p>
    <p>Si tiene alguna pregunta o comentario, no dude en contactarnos en code.mc01@gmail.com- .</p>
</footer>
</body>
</html>
