
/* Estilizamos el encabezado de la pagina. */
.header-principal {
    position: absolute;
    margin: 0;
    top: 0;
    display: flex;
    justify-content:space-between;
    align-items:center;
    height: 10vmin;
    width: 99vw;
    padding: 0.5% 5%;
    transition: all 400ms ease;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 0.2vmin solid blanchedalmond ;
    z-index: 20;
}
/* Estilizamos el logo */
.header-principal .logo {
    font-family: 'Times';
    color: blanchedalmond;
    text-shadow: 0.2vmin 0.2vmin 0.5vmin rgb(255, 166, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: 5vmin;
    padding: 0.5% 1.5vmin;
    transition: all 200ms linear;
}

/* Estilizamos la barra de navegación */

.header-principal .nav-links{
    list-style: none;
}

.header-principal .nav-links ul li{
    display: inline-block;
    padding: 0.5% 4vmin;
}

.header-principal .nav-links a{
    font-size: 3vmin;
    font-weight: 400;
    text-decoration: none;
    color: blanchedalmond;
    transition: all 100ms linear;
    
}

.header-principal .nav-links a:hover{
    color: rgb(255, 166, 0);
    font-weight: 600;
    transform: scale(1.05);
}
/* Relación a función en un script para la animación de desplazamiento; los cambios tras su ejecución */

.header-principal.abajo{
    background-color: rgba(0, 0, 0,0.4);
    height: 11vmin;
}

.header-principal.abajo .btn-inicio button{
    background-color: blanchedalmond;
    color: black;
    text-decoration: none;
}

/* Estilizamos el botón de cuenta*/

.header-principal .btn-inicio i{
    text-decoration: none;
    color: blanchedalmond;
    font-size: 5vmin;
    font-weight: 100;
    border-color: blanchedalmond;
    border-style: solid;
    border-radius: 3vmin;
    border-width: 0.5vmin;
    background: none;
    cursor: pointer;
    padding: 0.5% 1.5vmin;
    transition: all 200ms linear;
}


.header-principal .btn-inicio i:hover{
    color: rgb(230, 161, 0);
    border-color: rgb(230, 161, 0);
}

.ri-account-box-line{
    transition: all 200ms linear;
    text-decoration: none;
}


/* Estilizamos el pie de página */
body footer {
    background-color: black;
    color: blanchedalmond;
    height: 30vh;
    width: 99vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    left: 0;
}

footer p{
    font-size: 3vmin;
    color: blanchedalmond;
    font-weight: 300;
}

footer .nav-links-footer{
    list-style: none;
}

footer .nav-links-footer ul li{
    display:inline-block;
    padding: 5% 3vmin;
}

footer .nav-links-footer a{
    text-decoration: none;
    color: blanchedalmond;
    font-size: 3vmin;
    font-weight: 300;
}

footer .nav-links-footer a:hover{
    color: rgb(255, 166, 0);
    font-weight: 600;
    transition: all 200ms linear;
}

@media screen AND (max-width:1050px){
    .header-principal .nav-links{
        display: none;
    }

    .header-principal{
        justify-content: space-around;
    }

}