@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow';
}
/*Acomodamos el body para mejor manejo*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    

}
body::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url("/static/miapp_CODEMC/imagenes/trabajo-en-equipo-banner.jpg");
    background-position: center;
    background-size: cover;

}

h1{
    font-size: 2rem;
    margin-bottom: 20px;
    color: blanchedalmond;
}

.contenedor{
    width: 460px;
    border-radius: 12px;
    padding: 30px;
    color: blanchedalmond;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    border: 1px solid rgb(255, 166, 0);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: height .2s ease;
    transform: scale(1);
    overflow: hidden;
    
}

.contenedor .form-box-login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.cerrar-ventana{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 35px;
    font-size: 30px;
    cursor: pointer;

}

form{
    display: flex;
    flex-direction: column;
}

form e,c{
    position: absolute;
    top: 20%;
    left: 90%;
    font-size: 20px;
}

.box-form{
    background-color: blanchedalmond;
}

.input-field label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: blanchedalmond;
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
}

.input-field{
    position: relative;
    border-bottom: 2px solid blanchedalmond;
    margin: 18px 20px;
}

form label{
    color: blanchedalmond;
}

.input-field input{
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: blanchedalmond;
}


.forget{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 35px 0;
    color: blanchedalmond;
}

#remember{
    accent-color: blanchedalmond;
    border-style: none;
}

.forget label{
    display: flex;
    align-items: center;
}

.forget label p{
    margin-left: 8px;
}

.contenedor a{
    color: blanchedalmond;
    text-decoration: none;
}

.contenedor a:hover{
    text-decoration: underline;
}

button{
    background: blanchedalmond;
    color: #000;
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
    cursor: pointer;
}

button:hover{
    color: rgb(255, 166, 0);
    border: 0.3vmin solid rgb(255, 166, 0);
    background: rgba(0, 0, 0, 0.2);
}

.register{
    text-align: center;
    margin-top: 30px;
    color: blanchedalmond;
}


form div {
    margin-bottom: 15px;
}


.box-form::placeholder {
    color: blanchedalmond; 

}


.box-form {
    font-size: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    position: relative;
    border-radius: 4px;
}




/* Estilos del placeholder */
.box-form::placeholder {
    color: blanchedalmond; /* Color del placeholder */
    font-size: 16px; /* Tamaño del texto del placeholder */
    transition: all 0.3s ease; /* Transición suave para todos los cambios */
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}


/* Estilo para el input con el placeholder movido hacia arriba */
.box-form:focus {
    padding-top: 20px; /* Espacio para el placeholder animado hacia arriba */
}

.box-form:focus::placeholder {
    top: -90px; /* Mueve el placeholder hacia arriba */
    left: 10px; /* Ajusta la posición horizontal si es necesario */
    font-size: 12px; /* Tamaño del texto del placeholder cuando está en foco */

}
