
/*Importamos fuentes de letras*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Restablecemos las configuraciones de margen, padding y box-sizing para mejor manejo*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow';
    
}
/* Estilizamos el banner y sus elementos */

.banner{
    position: relative;
    height: 100vh;
    width: 99vw;
    background-image: url('/static/miapp_CODEMC/imagenes/trabajo-en-equipo-banner.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.banner svg {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -3vmin;
    
}

.banner .capa {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 99vw;
    background: rgba(0,0,0,0.65);
}

.banner .capa .banner-caja-1, .banner-caja-2 {
    color: blanchedalmond;
    margin: 5vh 5vw;
    
}

.banner .capa .banner-caja-1{
    text-align: center;
    border-color: #FFA600;

}

.banner .capa .banner-caja-2{
    text-align: center;
}

.banner .capa .banner-caja-1 h1{
    font-size: 8vmin;
    text-align: center;
    padding: 1.5vmin;
    padding-bottom: 0;
    letter-spacing: 6px;
    border-style: solid;
    border-bottom: none;
    border-color: #FFA600;
    border-width: 0.5vmin;
}

.banner .capa .banner-caja-1 h1 span{
    font-size: 8vmin;
    letter-spacing: 6px;

}

.banner .capa .banner-caja-1 p{
    font-size: 4vmin;
    letter-spacing: 3px;
    font-weight: 300;
    padding: 1.5vmin;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #FFA600;
    border-width: 0.5vmin;

}

.banner .capa .banner-caja-2 h2{
    font-size: 5vmin;
    letter-spacing: 3px;
    padding: 1.5vmin 0;
}

.banner .capa .banner-caja-2 p{
    font-size: 4vmin;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 1.5vmin 0;

}

.banner .capa .banner-caja-2 .btn-registro{
    font-size: 3vmin;
    font-weight: 400;
    color: blanchedalmond;
    text-decoration: none;
    border-style: solid;
    border-width: 0.5vmin;
    border-color: blanchedalmond;
    border-radius: 2vmin;
    background: none;
    padding: 1.5vmin 2vmin;
    margin: 2vmin 0;
    transition: all 200ms linear;
    cursor: pointer;
}

.banner .capa .banner-caja-2 .btn-registro button:hover{
    color: #FFA600;
    border-color: #FFA600;
}

/* Contenedores con frases */

.cont-frase{
    height: 45vh;
    width: 99vw;
    background-image: url('/static/miapp_CODEMC/imagenes/oficina-desorganizada-banner.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    
}

.cont-frase .capa-cont-frase{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    height: 45vh;
    width: 99vw;
    background-color: rgba(37, 70, 160,0.8);
}

.frase-stilo{
    width: 100%;
    text-align: center;
    font-size: 7vmin;
    font-weight: 200;
    color: blanchedalmond;
    padding: 5vmin 2vmin;
}

.corte-arriba{
    position: absolute;
    top: 0;
    left: 0;
    border-width: 7vh 99vw 0 0;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
}

.cont-frase .corte-abajo{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 7vh 99vw;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}

/* Estilo para subtítulos (h2) */

.sub-titles {
    text-align: center;
    font-size: 8vmin;
    font-weight: bold;
    padding: 1vmin 0;
    margin: 4vmin auto;
    max-width: 80%;
}

.sub-titles span {
    font-size: 5vmin;
    letter-spacing: 6px;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #FFA600;
    padding: 1vmin 0;

}

.ancla {
    scroll-margin-top: 8.5vh;
}

/* Apartado de servicios y algunas estilizaciones para el apartado de soluciones */

.services, .solutions, .solut-especs{
    display: flex;
    flex-direction: column;
    width: 99vw;

}

.services .cont-servs {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;  
    width: 99vw;
    margin: 6vmin 0;
}

.services .service-caja1, .service-caja2{
    margin: 0 3vw;
    max-width: 80vw;
}

.service-caja2{
    order: 1
}

.imagenes{
    object-fit: cover;
    width: 30w;
    height: 35vw;
    border-radius: 1vmin;
    border-style: solid;
    border-color: #FFA600;
    border-width: 0.1vmin;
    margin: 0 3vw;
    order: 0;
    max-width: 80vw
}

.services .service-caja1 .fa-ul li, .service-caja2 .fa-ul li{
    margin: 5vmin 0;
    max-width: 80vw;
    text-align: left;
    font-size: 5vmin;
    list-style-image: url(https://fontawesome.com/icons/check?f=classic&s=solid&sz=lg&pc=%23ffa600);
}



.services h3{
    font-size: 6vmin;
    font-weight: bold;
    
}

/* Apartado de especificaciones */
    
.material-symbols-outlined
{
    color: #FFA600;
    margin-right: 2vmin;
    font-weight: bold;
    font-size: 5vmin;
    padding: 0.7vmin;
    border-style: solid;
    border-color: #FFA600;
    border-width: 0.5vmin;
}

.solut-especs {
    justify-content: space-evenly;
    align-items: center;
    margin: 7vmin 0;
}

.solut-especs dd{
    font-size: 4.5vmin;
    max-width: 80vw;
    letter-spacing: 0.2vmin;
    line-height: 6vmin;
    padding: 1vmin 0;
    margin-bottom: 10vmin;
    
}

.solut-especs dt{
    font-size: 6vmin;
    font-weight: bold;
    max-width: 80vw;
    
}

/* Determinamos media queries para ayudar a la pág. a volverse responsive. */

@media screen AND (max-width:1000px){
    .banner .capa{
        flex-direction: column;
        justify-content: center;

    }

    .services .cont-servs{
        flex-direction: column;
        align-items: center;
    }

    .imagenes{
        width: 90vw;
        height: 50vh;
        margin: 3vh 0;
    }

}

/* -------------------- fin del bloque -------------------- */