/*Importamos fuentes de letras*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Restablecemos las configuraciones de margen, padding y box-sizing para mejor manejo*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow';
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.2)), url('/static/miapp_CODEMC/imagenes/fondo-pags-secund.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.head{
    width: 80vw;
    text-align: center;
    padding: 4vmin 7vmin;
    margin: 15vmin auto;
    margin-bottom: 0;
    border: 0.3vmin solid #FFA600;
    background-color: rgba(0,0,0,0.2);
}

.head h1{
    color: blanchedalmond;
    font-size: 6vmin;
    text-align: center;
    letter-spacing: 1vmin;
    padding: 2vmin 0;
}

.head p{
    color: blanchedalmond;
    font-size: 4vmin;
}

.contenedor{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 10vmin 5vmin;
}

.contenedor .caja{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    flex: 1 20vw;
    text-align: center;
    border-radius: 3vmin;
    border: solid 1vmin transparent;
    background-image:
    linear-gradient(rgba(0, 0, 0,0.3),rgba(0, 0, 0, 0.1)),
    linear-gradient(to right,rgba(255, 166, 0,0.7),rgb(189, 123, 0,0.2));
    background-origin: border-box;
    background-clip: content-box,border-box;
    margin: 5vmin 5vmin;
}

.contenedor .caja h2{
    color: blanchedalmond;
    font-size: 4vmin;
    margin: 1vmin auto;

}

.contenedor .caja p{
    color: blanchedalmond;
    font-size: 4vmin;
    
}

.contenedor .caja ul{
    list-style: none;
    margin: 4vmin;

}

.contenedor .caja ul li{
    color: blanchedalmond;
    font-size: 3vmin;
    padding: 2vmin auto;
    margin: 2vmin auto;
}

.contenedor .caja .btn{
    color: blanchedalmond;
    text-decoration: none;
    font-size: 3vmin;
    font-weight: 600;
    margin: 2vmin auto;

}
