{% load static %}
{% block head %}
{% endblock %}
<!-- Encabezado-->
<header class="header-principal">
    <div>
        <h1 class="logo">
            CODE/MC
        </h1>
    </div>
    <nav class="nav-links">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Servicio</a></li>
            <li><a href="#">Soluciones</a></li>
            <li><a href="#">Planes</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
    <a href="#" class="btn-inicio" onclick="rederigir_login()"> <button> <i class="ri-account-box-line"></i> </button> </a>
</header>

    {% block content %}
    {% endblock %}

<!-- Pie de página-->
<footer>
    <p> Te vas con tu amiga, feminista perdidaa &copy;</p>
</footer>
<!-- Introducimos scripts -->
<script type= "text/JavaScript"src="{% static 'miapp_CODEMC/js/animacion-nav.js'%}" charset="UTF-8"></script>
<script>
    function rederigir_login(){
        window.location.href="login";
    }
</script>

</script>