{% load static %}
{% block head %}
{% endblock %}
<!-- Encabezado-->
<header class="header-principal">
    <div>
        <a class="logo" href="{% url 'index' %}">
            CODE/MC
        </a>
    </div>
    <nav class="nav-links">
        <ul>
            <li><a href="#servicio">Servicio</a></li>
            <li><a href="#soluciones">Soluciones</a></li>
            <li><a href='{% url "planes" %}'>Planes</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href='{% url "contacto" %}'>Contacto</a></li>
        </ul>
    </nav>
    <a href="#" class="btn-inicio" onclick="rederigir_login()"> <button> <i class="ri-account-box-line"></i> </button> </a>
</header>

    {% block content %}
    {% endblock %}

<!-- Pie de página-->
<footer>
    <p>Todos los derechos reservados. &copy;</p>
</footer>
<!-- Introducimos scripts -->
<script type= "text/JavaScript"src="{% static 'miapp_CODEMC/js/animacion-nav.js'%}" charset="UTF-8"></script>
<script>
    function rederigir_login(){
        window.location.href="login";
    }

</script>

</script>